<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Ideaborough, <%= @user.name %></h1>
    <p>
      Your account has been successfully created.<br/>
	  You can use your e-mail address to login,<br/>
	  and if you forget your password, just e-mail me at steve@ideaborough.com
    </p>
    <p>
      To login to the site, <a href="http://ideaborough.com/signin"><strong>click here.</strong></a>
    </p>
    <p>Thanks for joining, and if you have any questions please be in touch!</p>
  </body>
</html>