<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong><%= link_to "Browse Ideas", @user %></strong><br />
	  <strong>Ideas:</strong> <%= User.count %> <!-- Update this with the number of ideas when possible -->
    </td>
  </tr>
</table>