<h1>Welcome to Ideaborough</h1>
<p>
<blockquote>	The truth is that most everyone has plenty of ideas that could work out to be 
great businesses. The kicker is most often the right execution, 
which is almost impossible to predict. 
The value of The Perfect Idea is very small indeed.</blockquote><br /><div align="right"> -David Heinemeier Hansson</div>
</p>
