<h1>What is this place all about?</h1>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
<p>
I made this site because I got tired of losing track of my ideas. </p>
<p>
I tried sending myself e-mails, using To-Do apps and writing things down, but I could never keep track of anything for very long. 
</p>
<p>I hope that this place can help people like you and me solve the problem of lost ideas.</p>
<p>We're starting off fairly simply here, but if you stick around, I think this place could turn out to be pretty neat.</p>
<p>And whether you're here to stay, or are just stopping by, thanks for coming, and feel free to get in touch anytime <a href="mailto:steve.michael.thomas@gmail.com">here.</a>
</p>
    </td>
    <td>
     <div align="right"> 	</div>
	</td>
  </tr>
</table>
