<h1>Welcome to Ideaborough</h1>
<p>
	Hi, my name is Steve. I guess you could say I am the mayor of Ideaborough. <br/>
	You can contact me by <a href="mailto:steve@ideaborough"><strong>clicking here.</strong></a>
</p>
  