<h1>Support</h1>
<p>
	Nothing formal.<br /> Nothing fancy. <br /><br />
	Just send me an e-mail if you have any questions and I'll get back
	to you really quickly. <br />I promise. <a href="mailto:steve.michael.thomas@gmail.com">Click here.</a>

</p>
