<h1>Support</h1>
<table class="profile" summary="Profile information">
<tr>
 <td class="main">
   <p>
	Nothing formal.<br /> Nothing fancy. <br /><br />
	Just send me an e-mail if you have any questions and I'll get back
	to you really quickly. <br />I promise. <a href="mailto:steve@ideaborough.com"><strong>Click here.</strong></a>
   </p>
 </td>
<td>
     <div align="right"> <blockquote>

	</div>
	</td>
  </tr>
</table>
 <%= link_to "Get started now.", signup_path, :class => "signup_button round" %>
