<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h3 class="micropost">Any clever ideas?</h3>
        <%= render 'shared/micropost_form' %>
		
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      IMAGE
    </td>
    <td>
     <div align="right"> <blockquote>
	Stop writing your ideas on napkins.<br />
	It's ridiculous.</blockquote><br />
    <%= link_to "Try out Ideaborough today.", signup_path, :class => "signup_button round" %>
	</div>
	</td>
  </tr>
</table>
<% end %>

