<h1>Welcome to Ideaborough</h1>
<p>
	Where ideas go to relax.<br>
	Send your ideas here to save them from the depths of your gmail account.
</p>
<%= link_to "Get started now!", signup_path, :class => "signup_button round" %>
