<p>
<strong><%= @micropost.coreidea %></strong>
</p>
<p>
<%= @micropost.content %>
</p>
<% @micropost.comments.each do |comment| %>
<p><ul>
<li><%= comment.comment %>
</ul>
</p>
<% end %>
<div>
<%= render 'shared/comment_form' %>
</div>